<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

<header>
    <% include ../partials/header %>
</header>

<main>
    <h1>Number of requests: <%=last_id%></h1>
    <h2>* Requests</h2>
    <ul>
        <% requests.forEach(function(request) { %>
          <!-- <div class="jumbotron"> -->
            <li><%=request.id%> - <%=request.customer_name%> - <%=request.customer_car%> - <%=request.customer_cellphone%></li>
          <!-- </div>   -->
        <% }); %>
    </ul>
</main>

<footer>
    <% include ../partials/footer %>
</footer>

</body>
</html>